body {
	min-height: 100%;
	line-height: 1;
}

a {
	text-decoration: none;
}

body {
	font-family: Inter;
	background-color: #F6F5DE;
	/*font-size: 22px;*/
}

[class*="_container"] {
	max-width: 1800px;
	margin: 0px auto;
	padding: 0px 20px;
}

main {
	flex: 1 1 auto;
}

.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}



.header {
	background-color: #B1D891;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.header_container {
	display: flex;
	min-height: 140px;
	align-items: center;

}

.header_logo {
	margin-right: 40px;
}

.header_line {}

.header_space {
	flex: 1 1 auto;
	margin-left: 40px;
}

.header_button {
	flex: 0 0 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #016F17;

}

.button {

	font-family: Inter;
	font-size: 30px;
	line-height: 40px;
	color: #FFFFFF;
	padding: 10px 20px;

}

.button:hover {
	background-color: #014C10;
}



/* TABLET */
@media (max-width: 991.98px) {
	.header_container {
		min-height: 120px;
	}

	.header_button {
		/*flex: 0 0 150px;*/
	}

	.button {
		font-size: 20px;
		line-height: 30px;
	}

	.header_line {
		display: none;
	}
}

/* MOBILE */


@media (max-width: 767.98px) {
	.header_logo {
		flex: 0 0 70px;
		overflow: hidden;
	}

	.header_button {}

	.button {
		font-size: 20px;
		line-height: 30px;
	}

	.header_container {
		min-height: 100px;
	}

	.header_line {
		display: none;
	}
}

/*@media (max-width: 479.98px) {
	.header_logo {
		flex: 0 0 70px;
		overflow: hidden;
	}

	.header_button {}

	.button {
		font-size: 15px;
		line-height: 25px;
	}

	.header_container {
		min-height: 85px;
	}

	.header_line {
		display: none;
	}
}*/

/***************************************************************************************************************************/

.main {
	margin: 140px 0px 0px 0px;
	width: 100%;

	align-items: center;
	overflow-x: auto;
}

.main_container {
	align-items: center;
	width: 1760px;
}

.main_main_block_text {
	width: 100%;
}

.main_main_text {
	font-size: 40px;
	font-family: Inter;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;


}

.main_bold {
	font-weight: 700;
	font-size: 26px;
}

.main_text {
	font-family: Inter;
	font-size: 18px;
	line-height: 22px;
}

.center {
	width: 100%;
	text-align: center;
}

.main_block1 {
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 50px 0 10px 0;
}

.main_block1_text {
	padding-right: 60px;
}

.main_block1_img {
	width: 100%;
	position: relative;
}

.main_bet_time {
	position: absolute;
	bottom: 0;
}

.main_block2 {
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 30px 0 10px 0;
}

.main_block2_text {
	padding-left: 60px;
}

.main_block2_img {
	width: 100%;
	position: relative;
}

.main_block3 {
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 30px 0 10px 0;
}

.main_block3_text {
	padding-right: 60px;
}

.main_block3_img {
	width: 100%;
	position: relative;
}

.main_block4 {
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 30px 0 20px 0;
}

.main_block4_text {
	padding-left: 60px;
}

.main_block4_img {
	width: 100%;
	position: relative;
}


.main_conclusion {
	padding-bottom: 150px;
}


@media (max-width: 991.98px) {
	.main {
		margin: 120px 0px 0px 0px;
	}

	.main_container {
		width: 740px;
	}

	.main_main_text {
		font-size: 32px;
		margin-top: 20px;
	}

	.main_bold {
		font-weight: 700;
		font-size: 22px;
	}

	.main_text {
		font-size: 16px;
		line-height: 20px;
	}


	.main_block1 {
		padding: 40px 0 30px 0;

	}

	.main_block1_img {
		display: none;
	}

	.main_block1_text {
		padding-right: 40px;
	}

	.main_block2 {
		padding: 25px 0 30px 0;
	}

	.main_block2_img {
		display: none;
	}

	.main_block2_text {
		padding-left: 0px;
	}

	.main_block3 {
		padding: 25px 0 30px 0;

	}

	.main_block3_text {
		padding-right: 40px;
	}

	.main_block3_img {
		display: none;
	}

	.main_block4 {
		padding: 25px 0 40px 0;
	}

	.main_block4_img {
		display: none;
	}

	.main_block4_text {
		padding-left: 0px;
	}

	.main_conclusion {
		padding-bottom: 150px;
	}

	.center {
		text-align: left;
	}
}

@media (max-width: 767.98px) {
	.main {
		margin: 100px 0px 0px 0px;
	}

	.main_container {
		width: 450px;
	}

	.main_main_text {
		font-size: 32px;
		margin-top: 20px;
	}

	.main_bold {
		font-weight: 700;
		font-size: 22px;
	}

	.main_text {
		font-size: 14px;
		line-height: 18px;
	}


	.main_block1 {
		padding: 40px 0 30px 0;

	}

	.main_block1_img {
		display: none;
	}

	.main_block1_text {
		padding-right: 40px;
	}

	.main_block2 {
		padding: 25px 0 30px 0;
	}

	.main_block2_img {
		display: none;
	}

	.main_block2_text {
		padding-left: 0px;
	}

	.main_block3 {
		padding: 25px 0 30px 0;

	}

	.main_block3_text {
		padding-right: 40px;
	}

	.main_block3_img {
		display: none;
	}

	.main_block4 {
		padding: 25px 0 40px 0;
	}

	.main_block4_img {
		display: none;
	}

	.main_block4_text {
		padding-left: 0px;
	}

	.main_conclusion {
		padding-bottom: 150px;
	}

	.center {
		text-align: left;
	}
}

@media (max-width: 479.98px) {
	.main {
		margin: 100px 0px 0px 0px;
	}

	.main_container {
		width: 360px;
	}

	.main_main_text {
		font-size: 32px;
		margin-top: 20px;
	}

	.main_bold {
		font-weight: 700;
		font-size: 22px;
	}

	.main_text {
		font-size: 14px;
		line-height: 18px;
	}


	.main_block1 {
		padding: 40px 0 30px 0;

	}

	.main_block1_img {
		display: none;
	}

	.main_block1_text {
		padding-right: 20px;
	}

	.main_block2 {
		padding: 25px 0 30px 0;
	}

	.main_block2_img {
		display: none;
	}

	.main_block2_text {
		padding-left: 0px;
	}

	.main_block3 {
		padding: 25px 0 30px 0;

	}

	.main_block3_text {
		padding-right: 20px;
	}

	.main_block3_img {
		display: none;
	}

	.main_block4 {
		padding: 25px 0 40px 0;
	}

	.main_block4_img {
		display: none;
	}

	.main_block4_text {
		padding-left: 0px;
	}

	.main_conclusion {
		padding-bottom: 150px;
	}

	.center {
		text-align: left;
	}
}

/*******************************************************************************************************************/

.footer {
	background-color: #000000;
	display: flex;
	justify-content: center;
	min-height: 80px;
	width: 100%;

}

.footer_container {
	line-height: 80px;
	font-family: Inter;
	font-size: 14px;
}

.footer_content {
	display: flex;
	flex-direction: row;
}

.footer_text {
	color: #FFFFFF;
	margin: 0 25px 0 25px;

}

@media(max-width: 991.98px) {

	.footer {
		min-height: 70px;
	}

	.footer_container {
		line-height: 70px;
	}
}

@media(max-width: 767.98px) {

	.footer {
		min-height: 60px;
	}

	.footer_container {
		line-height: 60px;
	}
}

@media(max-width: 479.98px) {

	.footer {
		min-height: 50px;
	}

	.footer_container {
		line-height: 50px;
	}
}